html {
  font-size: 14px !important;
}

a {
  color: #b34848;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

.blog-masthead {
  background-color: #b34848;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #b34848;
}

.zena {
  color: pink;
}
.musko {
  color: rgb(125, 125, 252);
}
